@import url("https://fonts.googleapis.com/css2?family=Amarante&family=PT+Serif&family=Poppins:wght@500&family=Roboto:wght@300;400;700&display=swap");
body {
  margin: 0 auto;
  width: 1920px;
  background-color: gainsboro;
}
p,
li {
  font-family: PT Serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}
header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 640px);
}
header h2 {
  font-family: Amarante;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
}
header p a {
  margin-left: 45px;
  text-decoration: none;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
main {
  margin: 0 auto;
  width: calc(100% - 640px);
  display: flex;
}
article {
  width: 844px;
}
article > div {
  padding: 40px;
}
article > img {
  width: 100%;
}
.left {
  margin: 0 45px;
  width: 20px;
}
h1 {
  width: 65%;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}
div section > a {
  padding: 5px;
  text-decoration: none;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  border-radius: 6.85714px;
}
div section > a:first-child {
  background: #ebf3ff;
}
div section > a:nth-child(2) {
  background: #fbebff;
}
div section > a:nth-child(3) {
  background: #efebff;
}
div section > a:nth-child(4) {
  background: #fffdeb;
}
div section > div {
  display: flex;
  margin: 20px 0;
}
section > div img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
div > div {
  font-family: "Roboto", sans-serif;
}
div > div h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
}
div > div p {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  opacity: 0.5;
}
div > div p span {
  font-style: italic;
}
div > div p span a {
  color: #81a4fe;
}
section {
  counter-reset: num;
}
div > section:nth-of-type(3) h3::before {
  content: counter(num) ". ";
  counter-increment: num 1;
}
.ipsum {
  color: #29499c;
}
pre {
  background: #211e2b;
  border-radius: 8px;
  color: #fff;
}
section nav > div {
  display: flex;
}
nav > div > img {
  width: 55px;
  height: 55px;
  margin-right: 15px;
}
nav > div a {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-decoration: none;
  color: #000;
}
nav > div p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.right {
  margin-left: 30px;
  width: 300px;
  padding: 20px;
}
.right section:first-of-type {
  display: flex;
  flex-wrap: wrap;
}
.right section:first-of-type img {
  width: 55px;
  height: 55px;
  margin-right: 10px;
}
.right section:first-of-type div {
  align-self: center;
  width: 70%;
}
.right section:first-of-type div h4 {
  margin: 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.right section:first-of-type div p {
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.right section:first-of-type > p {
  margin: 20px 0;
  width: 40%;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  white-space: pre;
}
.right section:first-of-type > span {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-transform: none;
}
button {
  padding: 11px;
  width: 100%;
  border: 0;
  border-radius: 8px;
  background: #034aff;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}
