@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Roboto:wght@400;500&display=swap");
body {
  width: 1440px;
}
body > * {
  width: 800px;
  margin: 15px auto;
}
.ff-merr4,
li,
a {
  font-family: "Merriweather", serif;
  font-weight: 400;
}
.ff-merr7,
h3 {
  font-family: "Merriweather", serif;
  font-weight: 700;
}
.ff-merr9 {
  font-family: "Merriweather", serif;
  font-weight: 900;
}
.ff-rob4,
p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.ff-rob5 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: black;
}
header {
  width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header h2 {
  text-transform: capitalize;
  color: #000638;
  font-size: 24px;
}
header nav a {
  padding: 0 5px;
  font-size: 18px;
  text-transform: capitalize;
}
main {
  margin: 80px auto;
}
.mainhead a {
  padding: 5px 15px;
  background-color: #000638;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  width: 112px;
  text-decoration: none;
  height: 20px;
  text-align: center;
}
.mainhead h1 {
  margin: 20px 0 10px 0;
  font-size: 46px;
  line-height: 57.82px;
}
.mainhead p[class] {
  margin: 10px 0;
  font-size: 14px;
  line-height: 22.4px;
}
.mainhead img[src="./Post Thumbnail.jpg"] {
  width: 100%;
}
.mainhead p:last-child {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.mainhead img[src="./image 3.png"] {
  width: 42px;
}
.mainhead span {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 700;
}
h3 {
  font-size: 24px;
  line-height: 38px;
}
p {
  font-size: 20px;
  line-height: 32px;
}
li {
  font-size: 18px;
  line-height: 29px;
}
p[class="ff-rob5"] {
  margin: 30px 0;
  font-size: 26px;
  line-height: 41.6px;
}
p[class="ff-rob5"] + p {
  margin: 40px 0;
}
p[class="ff-rob5"] ~ div {
  padding: 25px 30px;
  background: #f5f5f5;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 7px;
}
div h3 {
  margin: 10px 0;
}
ol {
  margin: 10px 0;
  padding-left: 29px;
}
li {
  padding: 7px 0;
}
div + p {
  padding: 12px 0;
}
.main-text section:last-child {
  margin: 36px 0;
}
.else-art h2 {
  font-size: 36px;
  line-height: 58px;
  padding-top: 10px;
}
.else-art section {
  display: flex;
  margin-bottom: 15px;
}
.else-art section img {
  width: 33%;
  margin-right: 20px;
}
.else-art section h3 {
  font-size: 24px;
  line-height: 38px;
  margin: 0;
}
.else-art section p {
  font-size: 18px;
  line-height: 29px;
}
.author {
  display: flex;
  padding: 60px 30px;
}
.author img {
  width: 150px;
  height: 150px;
  margin-right: 25px;
}
.author div p {
  margin: 12px 0;
  font-size: 18px;
  line-height: 28.8px;
}
footer {
  width: 1100px;
}
.subscribe-nav {
  display: flex;
}
.subscribe-nav section:first-child {
  background-color: #283a61;
  border-radius: 5px;
  color: white;
  flex-shrink: 0;
  width: 382px;
  text-align: center;
}
