div.container {
  width: 98vw;
  margin: 0 auto;
  position: relative;
}
div.users {
  margin: 0 auto;
  max-width: 60%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 30px;
}

div.user {
  cursor: pointer;
}
div.popUp {
  width: 100vw;
  height: 100vh;
  background-color: red;
  backdrop-filter: blur(2px);
  position: fixed;
  top: 50%;
  left: 45%;
}
div.popUp-info {
  background-color: white;
}
