@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
  background-color: #e0e0e0;
}
main {
  display: flex;
  margin: 20px auto;
  width: 1100px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}
section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 20px 0;
  box-shadow: #979797 0px 5px 8px;
  background-color: #eee;
  width: 250px;
}
.percent {
  background: url(./img/10-percent.png) no-repeat 95% 10px/40px;
}
.new {
  background: url(./img/new.png) no-repeat 5% 10px/40px;
}
.newpercent {
  background: url(./img/new.png) no-repeat 5% 10px/40px,
    url(./img/10-percent.png) no-repeat 95% 10px/40px;
}
.photo {
  background-color: white;
  padding: 50px 0;
}
.price {
  color: #3ab3db;
  font-size: 1.6em;
  font-weight: 900;
  margin: 15px;
}
h3,
p,
ul {
  margin: 15px;
}
h3 span,
p {
  color: rgb(100, 100, 100);
}

ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
li {
  padding: 10px;
  margin: 2px;
  background-color: #cfcfcf;
  border-radius: 100%;
  line-height: 50%;
}
ul img {
  width: 15px;
}
