$primary: #2a2a2a;
$accent: #f9a43f;
$gradient: linear-gradient(184.53deg, #f9a43f 5.27%, #fb791b 91.78%);
$dark-blue: linear-gradient(179.89deg, #434d5a 0.09%, #131416 99.91%);
$dark-red: linear-gradient(180deg, #4c141a 0%, #210709 100%);
$shadow: 5px 6px 16px rgba(42, 42, 42, 0.16);
$shadow-active: 5px 6px 15px rgba(251, 121, 27, 0.63);

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
