footer {
  padding: 0 187px;
  padding-bottom: 75px;
  background: $primary;
  color: $accent;
  section.footer_content {
    display: flex;
    gap: 35px;
    padding: 70px 0 47px 0;
    border-bottom: 1px solid $accent;
    margin-bottom: 46px;
    a {
      margin-bottom: 7px;
      display: block;
      text-decoration: none;
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: $white;
      &:hover {
        text-decoration: underline;
      }
    }
    h4 {
      margin: 0;
      margin-bottom: 39px;
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
      color: $white;
    }
    div.title {
      width: 240px;
      h2 {
        margin: 0;
        margin-bottom: 18px;
        font-family: "Yeseva One";
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        text-transform: uppercase;
        color: $accent;
      }
      p {
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: $white;
      }
    }
    div.letter {
      div.send_mail {
        position: relative;
        input {
          width: 225px;
          padding: 14px 40px 14px 10px;
          background: $accent;
          border: none;
          border-radius: 5px;
          outline: none;
          &::placeholder {
            font-family: "Work Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: $primary;
          }
        }
        button {
          position: absolute;
          top: 11px;
          right: 4px;
          background-color: transparent;
          border: none;
          cursor: pointer;
          &:hover {
            svg {
              filter: drop-shadow(0 0 2px $secondary);
              path {
                fill: $primary03;
              }
            }
          }
        }
      }
    }
  }
  section.rights {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      gap: 20px;
      li {
        a {
          &:hover {
            svg {
              filter: drop-shadow(0 0 1px $secondary);
              path {
                fill: $accent02;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: $breackepoint_mobile) {
  footer {
    padding: 0 10px;
    section.footer_content {
      margin-bottom: 0;
      padding: 30px 0 27px 0;
      flex-direction: column;
      div {
        h4 {
          margin-bottom: 29px;
        }
      }
      div.title {
        width: auto;
        text-align: center;
      }
      div.letter {
        div.send_mail {
          input {
            width: 305px;
          }
        }
      }
    }
    section.rights {
      padding: 20px 0;
    }
  }
}
