$primary: #1f2b6c;
$primary02: rgba(31, 43, 108, 0.2);
$primary03: hsl(231, 50%, 22%);
$accent: #bfd2f8;
$accent02: #97b4ed;
$secondary: #159eec;
$secondary02: hsl(202, 80%, 45%);
$black: #212124;
$white: #fcfefe;

$breackepoint_mobile: 375px;
