{% set title = "Home" %} {% set bodyClass = "is-home" %} {% extends
"_html/_base/_layouts/_default.html" %} {% block content %}
<div class="content">
  <div>
    <h2>Ready to get started with Lemon Wares?</h2>
    <p>Choose the package that suits you</p>
    <div class="swich_plan">
      <span>Basic</span>
      <span>Premium</span>
    </div>
    <div class="box_plan">
      <div class="plan">
        <h3>Starter</h3>
        <p>
          with all your customers via all conversation channels in one central
          dashboard.
        </p>
        <span>$2.80</span>
        <span>Per month</span>
        <a href="#">Choose this Plan</a>
        <ul>
          <li>2GB SSD</li>
          <li>10GB Bandwidth</li>
          <li>15 Email Accounts</li>
          <li>Unlimited Database</li>
          <li>4 Subdomains</li>
          <li>1 Parked Domain</li>
          <li>2 Websites</li>
          <li>Free SSL</li>
          <li>Softaculous</li>
        </ul>
      </div>
      <div class="plan">
        <h3>Standard</h3>
        <p>
          with all your customers via all conversation channels in one central
          dashboard.
        </p>
        <span>$4.20</span>
        <span>Per month</span>
        <a href="#">Choose this Plan</a>
        <ul>
          <li>2GB SSD</li>
          <li>10GB Bandwidth</li>
          <li>15 Email Accounts</li>
          <li>Unlimited Database</li>
          <li>4 Subdomains</li>
          <li>1 Parked Domain</li>
          <li>2 Websites</li>
          <li>Free SSL</li>
          <li>Softaculous</li>
        </ul>
      </div>
      <div class="plan">
        <h3>Suprem</h3>
        <p>
          with all your customers via all conversation channels in one central
          dashboard.
        </p>
        <span>$7.00</span>
        <span>Per month</span>
        <a href="#">Choose this Plan</a>
        <ul>
          <li>2GB SSD</li>
          <li>10GB Bandwidth</li>
          <li>15 Email Accounts</li>
          <li>Unlimited Database</li>
          <li>4 Subdomains</li>
          <li>1 Parked Domain</li>
          <li>2 Websites</li>
          <li>Free SSL</li>
          <li>Softaculous</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
