{% set title = "Home" %} {% set bodyClass = "is-home" %} {% extends
"_html/_base/_layouts/_default.html" %} {% block content %}
<h1>Your New Project Starts Here!</h1>
<p class="sub_title">Etiam turpis iaculis adipiscing diam at pellentesque.</p>
<video controls poster="/assets/img/img_video.webp">
  Made at Theorem with love
</video>
<p>
  We have created a new product that will help designers, developers
  and companies create websites for their startups quickly and easily. Habit
  asse sedinter duma parturient
</p>
<a href="#">Subscribe on Telegram</a>
<!-- <img src="/assets/img/cat.webp" style="width: 1000px" alt="" /> -->
{% endblock %}
