<div class="offer">
  <nav class="bread_crumbs">
    <span>Hosting</span>
    <span>Domain</span>
    <span>SEO </span>
    <span>Email</span>
  </nav>
  <h1>Premium Web Hosting for Your Website</h1>
  <p>
    Blazing fast web hosting for individuals and businesses of all sizes backed
    by 24x7x365 Support.
  </p>
  <div class="account"><a href="#">Create an Account</a></div>
  <div class="plan"><a href="#">Choose your plan</a></div>
</div>
<div class="photo">
  <img src="../../../assets/img/main_photo.jpg" alt="" />
  <img src="../../../assets/img/Elements_main_photo.png" alt="" />
</div>
