table {
  border: 1.5px outset rgb(190, 190, 190);
}
th,
td {
  border: 1.5px inset rgb(190, 190, 190);
}
.tab {
  border-spacing: 0;
  padding: 0;
  border: 0;
}
.tar {
  width:200px;
  height: 40px;
}
.text{
  text-align: center;
}